.postulacion-empleos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    position: relative;
}
