<div class="parent">
  <div class="div1">
    <!-- Lista de empleos -->
    <div class="empleos-lista">
      <app-titulo [primeraPalabra]="'Tus'" [segundaPalabra]="'Empleos'"></app-titulo>
      <app-card-empleos-empresa *ngFor="let empleo of paginatedEmpleos; let i = index" [empleo]="empleo"
        [selected]="selectedEmpleoIndex === i + (currentPage - 1) * itemsPerPage"
        (cardClick)="onCardClick(i + (currentPage - 1) * itemsPerPage)">
      </app-card-empleos-empresa>
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="div2">
    <br>
    <app-detalle-empleo-empresa 
    *ngIf="selectedEmpleoIndex !== null" 
    [empleo]="empleos[selectedEmpleoIndex] " 
    (empleoEliminado)="actualizarListaEmpleos($event)"
    (empleoActualizado)="actualizarEmpleo($event)">
    </app-detalle-empleo-empresa>
    <button class="publicar-empleo-btn" (click)="onPublicarEmpleo()">¡Publica tu empleo!</button>
  </div>
</div>