<div class="parent">
    <div class="div1">
        <br>
        <br>
      <div class="empleos-lista">
        <app-titulo [primeraPalabra]="'Tus'" [segundaPalabra]="'Emplos'"></app-titulo>
        <app-card-empleos-empresa 
          *ngFor="let empleo of paginatedEmpleos; let i = index" 
          [empleo]="empleo"
          [selected]="selectedEmpleoIndex === i + (currentPage - 1) * itemsPerPage" 
          (cardClick)="onCardClick(i + (currentPage - 1) * itemsPerPage)">
        </app-card-empleos-empresa>
        <div class="pagination">
          <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
          <span>Página {{ currentPage }} de {{ (empleos.length / itemsPerPage) | number: '1.0-0' }}</span>
          <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= empleos.length">Siguiente</button>
        </div>
      </div>
    </div>
    <div class="div2">
      <br>
      <app-detalle-empleo-empresa *ngIf="selectedEmpleoIndex !== null" [empleo]="empleos[selectedEmpleoIndex]"></app-detalle-empleo-empresa>
    </div>
  </div>