<!-- detalle-empleo-empresa.component.html -->
<div class="detalle-container" *ngIf="empleo">
  <div class="detalle-header">
    <h2 *ngIf="!modoEdicion">{{ empleo.titulo }}</h2>
    <input *ngIf="modoEdicion" [(ngModel)]="empleo.titulo" class="input-editar" />
  </div>

  <!-- Otros campos... -->
  <p *ngIf="!modoEdicion" class="salario">$ {{ empleo.salario_maximo }} Máximo</p>
  <input *ngIf="modoEdicion" [(ngModel)]="empleo.salario_maximo" class="input-editar" placeholder="Salario máximo" />

  <p *ngIf="!modoEdicion" class="salario-minimo">$ {{ empleo.salario_minimo }} Mínimo</p>
  <input *ngIf="modoEdicion" [(ngModel)]="empleo.salario_minimo" class="input-editar" placeholder="Salario mínimo" />

  <p *ngIf="!modoEdicion">{{ empleo.ubicacion }}</p>
  <input *ngIf="modoEdicion" [(ngModel)]="empleo.ubicacion" class="input-editar" placeholder="Ubicación" />

  <div class="detalle-imagen" *ngIf="!modoEdicion">
    <img [src]="empleo.multimediaContenido" alt="{{ empleo.titulo }}" *ngIf="empleo.multimediaContenido">
  </div>
  <div *ngIf="modoEdicion">
    <label for="urlImagen">URL de la Imagen:</label>
    <input id="urlImagen" [(ngModel)]="empleo.multimediaContenido" class="input-editar" placeholder="Ingrese URL de la imagen" />
  </div>

  <!-- Agregar el horario -->
  <div class="detalle-section">
    <h3>Horario</h3>
    <p *ngIf="!modoEdicion">{{ empleo.horario }}</p>
    <input *ngIf="modoEdicion" [(ngModel)]="empleo.horario" class="input-editar" placeholder="Horario" />
  </div>

  <!-- Botones de acción -->
  <div class="action-buttons">
    <button *ngIf="!modoEdicion" class="btn-editar" (click)="activarEdicion()">Editar</button>
    <button *ngIf="modoEdicion" class="btn-guardar" (click)="guardarCambios()">Guardar</button>
    <button *ngIf="modoEdicion" class="btn-cancelar" (click)="modoEdicion = false">Cancelar</button>
    <button class="btn-eliminar" (click)="eliminarEmpleo()">Eliminar</button>
  </div>
</div>
