<div class="statistics-container">
  <app-loader *ngIf="isLoading"></app-loader>
  <!-- Header -->
  <div class="header">
    <h1>Datos & Estadísticas</h1>
    <p>Visualiza el estado actual de tus empleos y sus postulaciones.</p>
  </div>

  <!-- Main Content -->
  <div class="content">
    <!-- Job Stats -->
    <div class="stat-card">
      <h2>Total de Empleos</h2>
      <p class="stat-value">{{ totalEmpleos }}</p>
      <small>Empleos públicados</small>
    </div>

    <div class="stat-card">
      <h2>Total de Postulaciones</h2>
      <p class="stat-value">{{ totalAplicaciones }}</p>
      <small>Usuarios postulados</small>
    </div>
  </div>

  <!-- Graphs Section -->
  <div class="graphs">
    <div class="graph">
      <h3>Empleos Más Populares</h3>
      <ng-container *ngIf="aplicacionesPorEmpleo.length > 0; else noDataPaiChart2">
        <canvas #pie2ChartCanvas></canvas>
      </ng-container>
      <ng-template #noDataPaiChart2>
        <p class="no-data-message">No hay datos que mostrar</p>
      </ng-template>
    </div>
    <div class="graph">
      <h3>Preferencia de los usuarios</h3>
      <ng-container *ngIf="total > 0; else noDataPaiChart">
        <canvas #pieChartCanvas></canvas>
      </ng-container>
      <ng-template #noDataPaiChart>
        <p class="no-data-message">No hay datos que mostrar</p>
      </ng-template>
    </div>
  </div>
  <div class="graphs">
    <div class="graph">
      <h3>Fechas de postulación</h3>
      <ng-container *ngIf="lineChartData.length > 0; else noDataLineChart">
        <canvas #lineChartCanvas></canvas>
      </ng-container>
      <ng-template #noDataLineChart>
        <p class="no-data-message">No hay datos que mostrar</p>
      </ng-template>
    </div>
  </div>
</div>
