<div class="body">
  <div class="formulario">
    <!-- Form 1: Nombre -->
    <div *ngIf="currentStep === 1" class="form-1">
      <div class="container">
        <h1><i class="fa fa-user-o"></i>&nbsp; Datos personales </h1>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" id="apellidos" [(ngModel)]="apellidos" required>
        </div>
        <button class="conti-1" (click)="nextStep()" [disabled]="!isForm1Valid()">Siguiente &nbsp;></button>
      </div>
    </div>
    
    <!-- Form 3: Datos personales -->
    <div *ngIf="currentStep === 2" class="form-2">
      <div class="container">
        <h1><i class="fa fa-user-o"></i>&nbsp; Datos personales </h1>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="tel" id="telefono" [(ngModel)]="telefono" required>
        </div>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <input type="date" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" required>
        </div>
        <button class="conti-1" (click)="nextStep()" [disabled]="!isForm2Valid()">Siguiente &nbsp;></button>
      </div>
    </div>

    <!-- Form 3: Ubicacion -->
    <div *ngIf="currentStep === 3" class="form-3">
      <div class="container">
        <h1><i class="fa fa-compass"></i>&nbsp; Ubicación </h1>
        <!-- Select para Estado -->
        <div class="form-group">
          <label for="estado">País</label>
          <select id="estado" [(ngModel)]="estado" required>
            <option value="" disabled selected>Selecciona tu estado</option>
            <option value="Mexico">México</option>
            <option value="USA">Estados Unidos</option>
            <option value="Canada">Canadá</option>
            <!-- Puedes agregar más opciones aquí -->
          </select>
        </div>

        <!-- Select para Municipio -->
        <div class="form-group">
          <label for="municipio">Municipio</label>
          <select id="municipio" [(ngModel)]="municipio" required>
            <option value="" disabled selected>Selecciona tu municipio</option>
            <option value="Hidalgo">Hidalgo</option>
            <option value="CDMX">Ciudad de México</option>
            <option value="Nuevo Leon">Nuevo León</option>
            <!-- Puedes agregar más opciones aquí -->
          </select>
        </div>

        <!-- Select para Localidad -->
        <div class="form-group">
          <label for="localidad">Localidad</label>
          <select id="localidad" [(ngModel)]="localidad" required>
            <option value="" disabled selected>Selecciona tu localidad</option>
            <option value="Pachuca">Pachuca</option>
            <option value="Ecatepec">Ecatepec</option>
            <option value="Guadalajara">Guadalajara</option>
            <!-- Puedes agregar más opciones aquí -->
          </select>
        </div>

          <button class="back" (click)="previousStep()"><&nbsp; Anterior</button>
          <button class="conti-3" (click)="nextStep()" [disabled]="!isForm3Valid()">Siguiente &nbsp;></button>
        </div>
      </div>

    <!-- Form 4: Credenciales -->
    <div *ngIf="currentStep === 4" class="form-4">
      <div class="container">
        <h1><i class="fa fa-list-alt"></i>&nbsp; Completa tu cuenta </h1>
        <div class="form-group">
          <label for="correo">Correo electrónico</label>
          <input type="text" id="correo" [(ngModel)]="correo" required>
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input type="password" id="contrasena" [(ngModel)]="contrasena" required>
        </div>
        <div class="form-group">
          <label for="confirmPass">Confirmar contraseña</label>
          <input type="confirmPass" id="confirmPass" [(ngModel)]="confirmPass" required>
        </div>
        <button class="back" (click)="previousStep()"><&nbsp; Anterior</button>
        <button class="conti-4" (click)="finishRegister()" [disabled]="!isForm4Valid()">Siguiente &nbsp;></button>
      </div>
    </div>

    <!-- Form 5: Felicitaciones -->
    <div *ngIf="currentStep === 5" class="form-5">
      <div class="container">
        <h1>¡Felicidades! Tu cuenta en Manos a la obra esta lista...</h1>
        <button (click)="goToSignIn()" class="conti-3">Continuar</button>
      </div>
    </div>
  </div>

  <!-- Barra de progreso (los iconos no serán clickeables en el paso 4) -->
  <div class="progress-bar" [ngClass]="{ 'progress-final': currentStep === 5 }">
      <div class="step-1">
        <i class="fa fa-user-o bot-icon-1" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(1) : null"
           [class.active]="currentStep >= 1"></i>
        <div class="line-1" [ngStyle]="{'background-color': currentStep > 1 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-user-o bot-icon-2" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(2) : null"
           [class.active]="currentStep >= 2"></i>
        <div class="line-2" [ngStyle]="{'background-color': currentStep > 2 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-compass bot-icon-3" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(3) : null"
           [class.active]="currentStep >= 3"></i>
        <div class="line-3" [ngStyle]="{'background-color': currentStep > 3 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-list-alt bot-icon-4" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(4) : null"
           [class.active]="currentStep >= 4"></i>
        <div class="line-4" [ngStyle]="{'background-color': currentStep > 4 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
  </div>
</div>
