<div class="app-movil-container">
    <h2>Nuestra app móvil</h2>
    <p>Descubre empleos con nuestra app móvil disponible en Google Play y App Store</p>
    <div class="app-promotion">
        <a href="https://play.google.com/store/apps/details?id=com.marvin_mal.maloprueba" target="_blank" class="store-link">
            <img src="playstore.svg" alt="Google Play" class="playstore-logo">
        </a>
        <a href="https://apps.apple.com/app/idtu_app_id" target="_blank" class="store-link">
            <img src="appstore.svg" alt="App Store" class="appstore-logo">
        </a>
    </div>
</div>