header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #090C9B;
    height: 100px;
}

.logo {
    width: 160px;
    height: auto;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: transform 0.3s ease;
}

.nav-list li {
    display: inline;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-list a:hover {
    color: #FFD700;
}

.nav-list a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-list a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Ocultar botones de menú en escritorio */
.abrir-menu,
.cerrar-menu {
    display: none;
}

.abrir-menu i {
    color: #ffffff;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/*
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        font-size: 16px;
    }

    .profile-menu {
        top: 80px;
    }

    .backdrop {
        display: none;
    }
}*/


/*
@media (max-width: 768px) {
    .profile-menu {
        background-color: transparent;
        border: none;
        padding: 0;
        box-shadow: none;
    }

    .profile-menu li {
        list-style-type: none;
        padding: 10px;
        margin: 0;
        font-size: 16px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .profile-menu li:last-child {
        border-bottom: none;
    }

    .profile-menu li a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .profile-menu li a:hover {
        background-color: #f0f0f0;
        color: #000;
    }

    .profile-menu li:last-child a {
        color: #ff4081;
        font-weight: bold;
    }

    .profile-menu li:last-child a:hover {
        background-color: transparent;
    }
}
*/


/*
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #090C9B;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none;
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        z-index: 1000;
    }

    .hamburger {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }
}*/