<div class="login-container">
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <div class="login-box">
                <img src="malo_logo_azul.png" alt="Logo" class="login-logo">
                <h2>{{ forgotPasswordMode ? 'Recuperar Contraseña' : 'Ingresar' }}</h2>

                <app-notification *ngIf="errorMessage" [message]="errorMessage" [isError]="true"></app-notification>
                <app-notification *ngIf="successMessage" [message]="successMessage"
                    [isError]="false"></app-notification>

                <form [formGroup]="loginForm" (ngSubmit)="forgotPasswordMode ? requestPasswordRecovery() : onLogin()">
                    <div class="form-group"
                        [ngClass]="{'error': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}">
                        <label for="email">Correo</label>
                        <input type="email" formControlName="email" id="email" placeholder="example@example.com"
                            required>
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                            class="error-message">
                            <span *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                            <span *ngIf="loginForm.get('email')?.errors?.['email']">El correo debe tener un formato
                                válido.</span>
                        </div>
                    </div>

                    <!-- Campo de contraseña solo visible en modo inicio de sesión -->
                    <div *ngIf="!forgotPasswordMode" class="form-group"
                        [ngClass]="{'error': loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched}">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" formControlName="contrasena" id="contrasena" placeholder="*******"
                            required>

                        <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched"
                            class="error-message">
                            <span *ngIf="loginForm.get('contrasena')?.errors?.['required']">La contraseña es
                                obligatoria.</span>
                            <span *ngIf="loginForm.get('contrasena')?.errors?.['minlength']">La contraseña debe tener al
                                menos 5 caracteres.</span>
                            <!--<span *ngIf="loginForm.get('contrasena')?.errors?.['upperCase']">La contraseña debe contener
                                al menos una letra mayúscula.</span> -->
                        </div>
                    </div>
                    <label *ngIf="forgotPasswordMode">
                        <input type="checkbox" [(ngModel)]="isCompanyLogin" [ngModelOptions]="{standalone: true}"
                            name="isCompanyLogin">
                        Cuenta de empresa
                    </label>
                    <input type="submit" [disabled]="loginForm.invalid"
                        [value]="forgotPasswordMode ? 'Enviar correo de recuperación' : 'Iniciar sesión'">
                    <label *ngIf="!forgotPasswordMode">
                        <input type="checkbox" [(ngModel)]="isCompanyLogin" [ngModelOptions]="{standalone: true}"
                            name="isCompanyLogin">
                        Iniciar sesión como empresa
                    </label>
                    <app-loader *ngIf="isLoading"></app-loader>
                </form>
                <div class="link-container">
                    <a href="#" (click)="toggleForgotPassword(); $event.preventDefault();">
                        {{ forgotPasswordMode ? 'Volver a iniciar sesión' : 'Olvidé mi contraseña' }}
                    </a>
                    <div *ngIf="!forgotPasswordMode" class="divider"></div>
                    <a *ngIf="!forgotPasswordMode" href="/auth/select-register">¿Aún no tienes cuenta? Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</div>