<div class="forgot-password-container" *ngIf="!isPasswordChanged">
    <img src="malo_logo_azul.png" alt="Logo" class="logo">
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="password-form">

        <div class="form-group">
            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" formControlName="newPassword" id="newPassword" (input)="checkPasswordMatch()"
                placeholder="********">
            <span
                *ngIf="forgotPasswordForm.get('newPassword')?.invalid && forgotPasswordForm.get('newPassword')?.touched"
                class="error-message">
                La contraseña debe tener al menos 8 caracteres.
            </span>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" (input)="checkPasswordMatch()"
                placeholder="********">
            <span *ngIf="passwordMatchError" class="error-message">Las contraseñas no coinciden.</span>
        </div>

        <button type="submit" [disabled]="forgotPasswordForm.invalid || passwordMatchError"
            class="submit-btn">Restablecer Contraseña</button>
        <app-notification *ngIf="errorMessage" [message]="errorMessage" [isError]="true"></app-notification>
    </form>
</div>

<div *ngIf="isPasswordChanged" class="success-message">
    <p>{{ successMessage }}</p>
    <p>Serás redirigido a la página de inicio de sesión en breve...</p>
</div>

<app-loader *ngIf="isLoading"></app-loader>