.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    min-height: 100vh;
  }
  
  .logo {
    width: 350px;
    
  }
  
  h2 {
    color: #1A73E8;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .password-form {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .label {
    color: #5F6368;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #dcdcdc;
    border-radius: 0.3rem;
    font-size: 1rem;
  }
  
  input:focus {
    border-color: #1A73E8;
    outline: none;
  }
  
  .error-message {
    color: #E53E3E;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }
  
  .submit-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #1A73E8;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:disabled {
    background-color: #c6dafc;
    cursor: not-allowed;
  }
  
  .submit-btn:hover:not(:disabled) {
    background-color: #155bb5;
  }
  
  .success-message {
    text-align: center;
    color: #1A73E8;
    font-size: 1.2rem;
    margin-top: 2rem;
    min-height: 100vh;
  }
  .error-message {
    color: #E53E3E;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }

  /* Responsivo */
  @media (max-width: 480px) {
    .forgot-password-container {
      padding: 1rem;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  }
  